main{
    margin: 0%;
    padding: 2% 30%;
}
.menu li {
    display: inline-block;
    text-align: center;
}
button{
    width: 30px;
    border-radius: 100px;
    font-size: 100%;
}
.recuperar{
    font: left;
}
