form {
	margin:0 auto; 
	padding: 2% 30%;
}

.container {
	padding-top: 2%;
}

.card {
	display: inline-block;
	margin: 0.5%;
}
.icono{
    width: 30px;
    border-radius: 100px;
    font-size: 165%;
    margin-top: 13px;
}
.recuperar{
	position: relative;
	top: 10px;
	left: 20%;
}
.login{
	position: relative;
	top: 25px;
	left: 28%;
}