body{
	background: url(img/fondo3.jpg) no-repeat ;
	background-size: cover;
	}

form {
	margin:0 auto; 
	padding: 2% 30%;
}
.container {
	position: relative;
	top: 50px;
	left: 80px;
	padding-top: 2%;
}
.modificar{
	padding-top: 1%;
	padding: 0%;
	width: 700px;
	margin-right: 90%;
	margin-right: 90%;
	position: relative;
	top: 50px;
	left: 190px;
}
.nav{
	width: 100%;
	z-index: 100;
	position: fixed;
}
.mod{
	padding: 0%;
}
.comentar{
	padding: 0% 10%;
	position: relative;
	top: -30px;
	left: -100px;
}
.agregar{
	margin-right: 90%;
	margin-left: 45%;
	padding: 0%;

}
.ag{
	padding: 0%;
	width: 1000px;	
	position: relative;
	top: 0px;
	left: -400px;
}

.card {
	display: inline-block;
	margin: 0.5%;
}
.icono{
    width: 30px;
    border-radius: 100px;
    font-size: 165%;
    margin-top: 13px;
}
.recuperar{
	position: relative;
	top: 25px;
	left: 20%;
}
.rec{
	width: 1410px;
	height: 605px;
	margin: 0 auto;
}
.recu{
	position: relative;
	top: 20px;
	left: 2%;
}

.lb{
	width: 20%;
	padding: 2%;
	margin-left: 90%;
	margin-right: 90%;
	position: relative;
	top: -150px;
	left: -20%;
}

footer{
	margin-left: 100%;
	padding: 0%;
	margin-right: 90%;
	width: 60%;
	position: relative;
	left: -75%;
}

.fr{
	position: relative;
	top: 115px;
}
.fb{
	position: relative;
	top: 70px;
}
.fc{
	position: relative;
	top: -30px;
}
.fvp{
	position: relative;
	top: 0px;
	padding: 0;
}.nueva-entrada{
	top: -45px;
	left: 40px;
}
.buscador{
	width: 60%;
	position: relative;
	top: 70px;
	left: -5%;
}
.blogsInicio{
	padding: 0%;
	position: relative;
	top: 100px;
	left: 7%;
}
.mensaje{
	position: relative;
	top: 100px;
	left: 95px;
	max-width: 700px;
	padding: 2%;
	background: rgba(255, 255, 255, .2);
	align-items: center;
}
.mensaje h2{
	margin: 0 0 20px;
	padding: 0%;
	font-size: 48px;
	text-transform: uppercase;
	color: #044463;
}
.ver-todo{
	position: relative;
	left: 40%;
	top: 5px;
	border: none;
}
.registros{
	width: 20%;
	margin: 0;
	margin-bottom: 5%;
	padding: 0;
	position: relative;
	top: 70px;
	left: 40%;
}