{% extends 'base/base.html' %} {% block titulo %} Blogs App - Comentario {% endblock %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <i><h1>Comentar Blog</h1></i>
        </div>

    </div>
</div>
<div class="container">
    <form class="comentar">
        <div style="display:flex; flex-direction: row; justify-content: left ; align-items: center; margin-top: 20px;">

        </div>
        <i><p style="margin-top: 20px;">Comentado por Autor del comentario el 30 de Diciembre de 2020.</p></i>
        <div>
            <i><textarea name="Text1" style="width: 100%; margin-top: 20px;" rows="10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
					ut labore et dolore magna aliqua.</textarea></i>
            <br>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">Publicar Comentario</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Comentario publicado con exito.</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</form>

</div>
{% endblock %}