<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Blogs App - Mi cuenta</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light nav">
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
				<li class="nav-item">
					<i><a class="nav-link" href='/'>Inicio</a></i>
				  </li>
				  <li class="nav-item ">
					<i><a class="nav-link" href='/registro'>Registro<span class="sr-only">(current)</span></a></i>
				  </li>
				  <li class="nav-item">
					<i><a class="nav-link" href='/miCuenta'>Mi cuenta</a></i>
				  </li>
		    </ul>
		  </div>
		</nav>
	</header>
	<main>
		<div class="container">
		  <div class="row">
		    <div class="col-sm">
		      <h1>Comentar Blog</h1>
		    </div>

		  </div>
        </div>
		<div class="container">
            <form >
                <div style="display:flex; flex-direction: row; justify-content: left ; align-items: center; margin-top: 20px;" >
					                    
				  </div>
				  <p style="margin-top: 20px;">Comentado por Autor del comentario el 30 de Diciembre de 2020.</p>
                  <div>
                    <textarea name="Text1" style="width: 100%; margin-top: 20px;" rows="10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua.</textarea>
                        
					<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">Publicar Comentario</button>
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="modal-title" id="exampleModalLabel">Comentario publicado con exito.</h5>
							  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>

							<div class="modal-footer">
							  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Aceptar</button>
							</div>
						  </div>
						</div>
					  </div>
				  </div>
                  </div>
            </form>

		</div>
	</main>
	<footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Misión TIC 2020 - Universidad del Norte - Grupo 14F © 2020</span>
        </div>
    </footer>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>