{% extends 'base/base.html' %} {% block titulo %} Iniciar Sesion {% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/validacion.js') }}"></script>{% endblock %} {% block main %}
<section>
    <div class="mensaje">
        <center>
            <h2><i><p>Lorem, ipsum.</p></i></h2>
        </center>
        <br>
        <center><i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum </p></i></center>
        <br>
        <button type="submit" class="btn btn-primary ver-todo" onclick="window.location.href='/busqueda';">Ver Todo</button>
    </div>
</section>
<main>
    <!-- caja login -->
    <div class="login-box"></div>
    <form class="lb" action='/' method="POST" name="inicio">
        <i><h2>Iniciar Sesión</h2></i>
        <br>
        <!--Nombre-->
        <i><label for="nombre">Nombre de usuario</label></i>
        <br>
        <input type="text">
        <br>
        <br>
        <!--Contraseña-->
        <i><label for="contraseña">Contraseña</label></i>
        <br>
        <input type="password">
        <br>
        <br>
        <!-- boton -->
        <i><button type="submit" class="btn btn-primary">Entrar</button></i>
        <br>
        <br>
        <!-- opciones -->
        <i><a href='/rec_contrasena'>¿Olvidó su contraseña?</a></i>
        <br>
        <br>
        <i><a href='/registro'>Usuario nuevo</a></i>
    </form>

    <footer class="footer mt-auto py-3">
        <span class="text-muted">Misión TIC 2020 - Universidad del Norte - Grupo 14F © 2020</span>
    </footer>
</main>
{% endblock %}