{% extends 'base/base.html' %} {% block titulo %} Blogs App - Modificar Blog {% endblock %} {% block main %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <i><h1>Modificar Blog</h1></i>
        </div>

    </div>
</div>
<div class=" modificar">
    <form class="mod">
        <div style="display:flex; flex-direction: row; justify-content: left ; align-items: center; margin-top: 20px;">
            <label for="titulo" style="margin-top: 20px; margin-right: 15px;">Titulo:</label>
            <input type="text" style="width: 100%;" value="Titulo del blog">

        </div>
        <p style="margin-top: 20px;">Publicado por Autor del Blog el 30 de Diciembre de 2020.</p>
        <div>
            <textarea name="Text1" style="width: 100%; margin-top: 20px;" rows="10">Some quick example text to build on the card title and make up the bulk of the card's content.</textarea>
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">Guardar</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Guardado realizado con exito.</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <!-- <div class="modal-body">
							Esta acción es irreversible y tanto el contenido del blog como sus comentarios serán eliminados.
						</div> -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-success" data-dismiss="modal">Aceptar</button>
                            <!-- <button type="button" class="btn btn-outline-danger">Eliminar</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</form>

</div>
{% endblock %}