{% extends 'base/base.html' %} {% block titulo %} Recuperar Contraseña{% endblock %} {% block scripts %}
<script src="https://kit.fontawesome.com/52da7d9bfc.js" crossorigin="anonymous"></script>{% endblock %} {% block main %}

<div style="display: flex;">
    <div class="container recuperar">
        <div class="row">
            <div class="col-m">
                <i class="far fa-envelope icono"></i>
            </div>
            <div class="col-sm">
                <h1>Recuperar contraseña</h1>
            </div>
        </div>
    </div>
</div>

<form>
    <!-- nombre -->
    <label for="nombre">Nombre de usuario</label>
    <br>
    <input type="text">
    <br>
    <br>
    <!-- correo -->
    <label for="correo">Correo</label>
    <br>
    <input type="email">
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Recuperar</button>
</form>

</div>
{% endblock %}